<%- include('header'); -%>
<h1>This is about Secton</h1>
<p>Actually i have created an about section just to tell that what i have learnt in this project i have learn about EJS in this project.</p>
<%- include('footer'); -%>